*
{
    font-family: Arial;
}
.baner>div
{
    background-color: saddlebrown;
    color: white;
    height:100px;

}
.stopka>div
{
    background-color: saddlebrown;
    color: white;
    height:100px;
    
}
.baner:nth-child(1)
{
    width: 55%;
    font-size: 120%;
}
.stopka:nth-child(1)
{
    width: 55%;
    font-size: 120%;
}
.baner:nth-child(2)
{
    width:25%;
}
.stopka:nth-child(2)
{
    width:25%;
}
.baner:nth-child(3)
{
    width:20%;
    text-align: right;
}
.stopka:nth-child(3)
{
    width:20%;
    text-align: right;
}
.srodek
{
    background-color: snow;
    padding: 70px;
}
a
{
    border: dotted saddlebrown  ;
    background-color: snow;
    color: saddlebrown;
    padding: 20px;
    line-height: 100px;
}
ol
{
    list-style-type:lower-alpha;
}
.baner
{
    display: flex;
}